<div class="ui container">
<h1 class="header">Edit: <%= @sequence.name %></h1>
  <div class="two column stackable ui grid">

      <div class="column"> <!-- BEGIN column 1A -->
      
        <div class="ui grid">
          <div class="ui secondary vertical pointing menu five wide column"> <!--  BEGIN column 1B -->
            <% @grouped_asanas.each do |group| %>
              <% label = group.first.group.make_label %>
              <div class="item" data-tab="<%= label %>"><%= label %></div>
            <% end %>
          </div> <!--  END column 1B -->

          <div class="eleven wide column"> <!-- BEGIN column 2B -->
            <!-- generate tab content here -->
            <% @grouped_asanas.each do |group| %>
              <div class="ui tab" data-tab="<%= group.first.group.make_label %>">
                <%  group.each do |asana| %>
                  <div class="ui list">
                    <div class="item asana">
                      <input type="hidden" name="asanas[]" value="<%= asana.id %>">
                        <%= asana.english_name %> (<%= asana.devanagari_name %>)
                      </input>
                    </div>
                  </div>
                <% end %>
              </div>
            <% end %>

          </div> <!-- END column 2B -->
           <form action="/sequences/<%= @sequence.slug %>/delete" method="post">
            <input type="hidden" id="hidden" name="_method" value="delete">
            <button class="ui red button">Delete</button>
          </form>

        </div>
      </div> <!-- END column 1A -->

      <div class="column"> <!-- BEGIN column 2A -->

      <form class="ui form" action="/sequences/<%= @sequence.slug %>/edit" method="post">
      <input type="hidden" id="hidden" name="_method" value="patch">
        <div class="field">
          <label for="name">Name</label>
          <input type="text" id="name" name="sequence[name]" value="<%= @sequence.name %>">
        </div>

        <div class="field">
          <label for="name">Notes</label>
          <textarea id="notes" name="sequence[notes]"><%= @sequence.notes %></textarea>
        </div>
        

        <label>Your sequence:</label>
        <div class="usr-sequence form-size">
          <!-- user's selected asana appear here -->
          <% @sequence.asanas.each do |asana| %>
            <div class="item list-asana">
              <input type="hidden" name="asanas[]" value="<%= asana.id %>">
                <%= asana.english_name %> (<%= asana.devanagari_name %>)
              </input>
            </div>
            <% end %>
        </div>

        <div class="ui two bottom buttons">
          <button href="/sequences" class="ui button">Cancel</button>
          <button class="ui primary button">Save</button>
        </div>
      </form>

      </div>

    </div>


</div>
