<div class="ui container">

<h1><%= current_user.first_name %>'s Sequences</h1>

  <div class="ui cards">
    <% @sequences.each do |sequence| %>

      <div class="card">
        <div class="content">
          <div class="header"><%= sequence.name %></div>
          <div class-"description">
            <p><%= sequence.notes %></p>
          </div>
        </div>
        <div class="ui two bottom attached buttons">
          <a href="/sequences/<%= sequence.slug %>/edit" class="ui button">Edit</a>
          <a href="/sequences/<%= sequence.slug %>" class="ui primary button">View</a>
        </div>
      </div>

    <% end %>
  </div>


</div>

