<div class="ui container">

<% if flash.has?(:message) %>
  <div class="ui blue message">
    <div class="header">
      <%= flash[:message] %>
    </div>
  </div>
<% end %>

<h1 class="header"><%= current_user.first_name %>'s Sequences</h1>

  <div class="ui four doubling cards">
    <% @sequences.each do |sequence| %>

      <div class="card">
        <div class="content">
          <div class="header"><%= sequence.name %></div>
          <div class="description">
            <p><%= sequence.blurb %></p>
          </div>
        </div>
        <div class="ui two bottom attached buttons">
          <a href="/sequences/<%= sequence.slug %>/edit" class="ui button">Edit</a>
          <a href="/sequences/<%= sequence.slug %>" class="ui primary button">View</a>
        </div>
      </div>

    <% end %>
  </div>


</div>

