<div class="ui container">

<% if flash.has?(:message) %>
  <div class="ui blue message">
    <div class="header">
      <%= flash[:message] %>
    </div>
  </div>
<% end %>

  <h1 class="header"><%= @sequence.name %></h1>
  <div class="ui padded text container">
    

    <div>

      <% @sequence.asanas.each do |asana| %>
        <div class="asana">
          <%= asana.english_name %> (<%= asana.transliterated_name %>)
        </div>
      <% end %>
    
    </div>

    <h2 class="ui header">Notes</h2>
    <p><%= @sequence.notes %></p>

    <a class="fluid ui blue button" href="/sequences/<%= @sequence.slug %>/edit">Edit This Sequence</a>
  </div>

</div>

